/* can't have - */
.pageTitle{
    text-align: center;
    margin: 3rem 0 0;
}

.pageTitle h1{
    font-size: 3rem;
    font-weight: 800;
    color: #1e293b;
}

.pageTitle p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #475569;
}